@import "../../../../../_scss/common";
@include resetcss("sp");

html {
	height: 100%;
	font-size: 62.5%;
}
body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	line-height: 1.5;
	color: #333;
}
#contents {
	* {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		&:before {
			//Instead of the line below you could use @include box-sizing($bs)
			box-sizing: border-box;
		}
		&:after {
			//Instead of the line below you could use @include box-sizing($bs)
			box-sizing: border-box;
		}
	}
	img {
		width: 100%;
	}
	figure {
		line-height: 1.0;
	}
}
#sns-block {
	padding: 15px 0;
	ul {
		overflow: hidden;
		*zoom: 1;
		width: 291px;
		margin: 0 auto;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 8px 3px $black_8;
		li {
			float: left;
			.facebook {
				display: block;
				background-image: url(/sp/campaign/features/common/img/btn_facebook.png);
				background-repeat: no-repeat;
				background-position: 0 0;
				width: 97px;
				height: 45px;
				background-size: 97px auto;
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				outline: none;
			}
			.twitter {
				display: block;
				background-image: url(/sp/campaign/features/common/img/btn_twitter.png);
				background-repeat: no-repeat;
				background-position: 0 0;
				width: 97px;
				height: 45px;
				background-size: 97px auto;
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				outline: none;
			}
			.line {
				display: block;
				background-image: url(/sp/campaign/features/common/img/btn_line.png);
				background-repeat: no-repeat;
				background-position: 0 0;
				width: 97px;
				height: 45px;
				background-size: 97px auto;
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				outline: none;
			}
		}
	}
}
#content-header {
	position: relative;
	line-height: 1.0;
	.label {
		position: absolute;
		top: 3.375%;
		left: 0;
		right: 0;
		width: 75%;
		margin: auto;
	}
	h1 {
		position: absolute;
		top: 14.125%;
		left: 2.5%;
		width: 89.6875%;
		font-size: 0;
	}
	.item {
		position: absolute;
		top: 23.25%;
		left: 0;
		width: 100%;
		font-size: 0;
	}
	.comment {
		position: absolute;
		top: 77.5%;
		left: 0;
		right: 0;
		width: 95%;
		margin: auto;
		font-size: 0;
	}
}
#content-body {
	#sec1 {
		padding: 15px 10px 27px;
		h2 {
			display: block;
			background-image: url(/sp/campaign/features/vol3_sendo/img/sec1_title.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 286px;
			height: 38px;
			background-size: 286px auto;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			outline: none;
		}
		p {
			margin-top: 15px;
			font-size: 12px;
		}
		figure {
			width: 70%;
			margin: 15px auto 0;
			font-size: 0;
		}
	}
	#sec2 {
		padding: 20px 10px 15px;
		background-color: #96242d;
		color: $white;
		h2 {
			display: block;
			background-image: url(/sp/campaign/features/vol3_sendo/img/sec2_title.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 300px;
			height: 42px;
			background-size: 300px auto;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			outline: none;
			margin-bottom: 14px;
		}
		figcaption {
			margin-top: 5px;
			text-align: center;
		}
		p {
			margin-top: 15px;
			font-size: 12px;
		}
	}
	#sec3 {
		padding: 20px 10px 10px;
		h2 {
			display: block;
			background-image: url(/sp/campaign/features/vol3_sendo/img/sec3_title.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 265px;
			height: 17px;
			background-size: 265px auto;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			outline: none;
			margin-bottom: 20px;
		}
		p {
			margin-top: 15px;
			font-size: 12px;
		}
		figure {
			margin-top: 20px;
		}
	}
	#campaign {
		background: url(/sp/campaign/features/vol3_sendo/img/campaign_bg.png) 0 0 repeat;
		.container {
			padding: 12px 10px 15px;
			background: url(/sp/campaign/features/vol3_sendo/img/campaign_main_img_bg.png) 50% 54px no-repeat;
			background-size: 86% auto;
		}
		.term {
			width: 85%;
			margin: 19px auto 0;
		}
		.campaign-main-img {
			width: 79%;
			margin: 21px auto 0;
		}
		.lead {
			margin-top: 35px;
			font-size: 12px;
		}
		.campaign-scene {
			margin-top: 25px;
			.campaign-scene-img {
				margin-top: 14px;
			}
		}
		.campaign-btn a {
			display: block;
			margin: 23px auto 0;
			font-size: 0;
		}
	}
	#products {
		padding-bottom: 20px;
		border-top: 4px solid #cb0600;
		h2 {
			display: block;
			background-image: url(/sp/campaign/features/common/img/products_title.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 144px;
			height: 32px;
			background-size: 144px auto;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			outline: none;
			margin: 0 auto 16px;
		}
		.name {
			display: block;
			background-image: url(/sp/campaign/features/vol3_sendo/img/products_name.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 299px;
			height: 51px;
			background-size: 299px auto;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			outline: none;
			margin: 0 auto;
		}
		.txt1 {
			display: block;
			background-image: url(/sp/campaign/features/vol3_sendo/img/products_txt.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 300px;
			height: 22px;
			background-size: 300px auto;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			outline: none;
			margin: 19px auto 45px;
		}
		.item {
			overflow: hidden;
			*zoom: 1;
			margin: 0 10px 15px;
			padding: 0 10px 15px;
			figure {
				float: left;
				width: 42.85714%;
				text-align: center;
			}
			.item-detail {
				overflow: hidden;
				padding-top: 5px;
				h3 {
					font-size: 14px;
				}
				.price {
					margin-top: 7px;
					text-align: right;
					span {
						display: inline-block !important;
					}
				}
				p {
					margin-top: 7px;
					font-size: 12px;
				}
			}
		}
		.item2 {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
		.btn-block {
			margin: 23px 10px 0;
			li {
				line-height: 1.0;
				&:first-child {
					margin-bottom: 10px;
				}
				a {
					display: block;
				}
			}
		}
		.note-block {
			margin: 10px 10px 0;
			li {
				padding-left: 1em;
				text-indent: -1em;
				color: #666;
				font-size: 11px;
			}
		}
	}
}