extends ../../../../../_jade/template/template
block project
	-var project = "nyannosuke"
block vars
	-var title = "ニャンノスケ　LINEスタンプもらえる！"
block nyannosuke_style
	style(type='text/css').
		<!--
			body #contents {
				background-color: #fff253;
			}
			body #contents div.wrap div.mainImage{
				padding: 40px 0;
			}
			body #contents div.wrap div.notice{
				width: 320px;
				margin: 0 auto;
				padding-bottom: 10px;
			}
			body #contents div.wrap div.main{
				background-image: url(./images/main.jpg);
				background-position:center top;
				background-size: 200px 315px;
				text-align: center;
				background-repeat: no-repeat;
			}
			body #contents div.wrap div.main div.button a {
				display: block;
			}
			body #contents div.wrap div.main div.button{
				display: inline-block;
				padding-top: 270px;
				padding-bottom: 10px;
			}
			body #contents div.wrap div.main div.notice{
				width: 300px;
			}
			body #contents div.wrap div.main div.notice p{
				font-size: 7px;
			}
			body #contents div.wrap div.main div.notice p span.mr_b{
				display: block;
			}
			-->
block content
	.wrap
		.main
			.button
				a(href="https://goo.gl/LlWsNU",target="_blank")
					img.button(src="./images/button.png",width=164,height=34,alt="LINEスタンプをダウンロード")
			.notice
				p.shingo_m.
					<span class="mr_b">＜ダウンロード方法＞</span><br/>
					ＬＩＮＥアプリを立ち上げていただき、アプリ下部の4つ並んでいるアイコン一番右に配置されている「…」（その他）をタップすると、スタンプショップのアイコンが出てきます。
				p.shingo_m.
					またはトーク内スタンプキーボードの一番右にある「＋」アイコンをタップすることで、スタンプショップを表示することができます。
					上部の「HOME/RANK/NEW/EVENT/CATEGORY」が並ぶタブ内、NEW/EVENTタブの中に「西友　SEIYU　単独デビュー！ニャンノスケ」というスタンプが並んでいます。
				p.shingo_m.
					西友 SEIYU公式アカウントを友だち追加していただくことで、無料でダウンロードが可能になります。配信期間は2016年5月17日～6月13日までとなります。配信期間を過ぎるとダウンロードをすることができません。
				p.shingo_m
					span.caption ※
					| スタンプはダウンロード後、180日間ご利用が可能です。