@import "../../../../_scss/common";
@include resetcss("pc");

html {
	height: 100%;
	font-size: 62.5%;
}
body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	line-height: 1.5;
	color: #333;
}
#contents {
	padding-top: 0;
	padding-bottom: 0;
	* {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		&:before {
			//Instead of the line below you could use @include box-sizing($bs)
			box-sizing: border-box;
		}
		&:after {
			//Instead of the line below you could use @include box-sizing($bs)
			box-sizing: border-box;
		}
	}
	.container {
		overflow: hidden;
		*zoom: 1;
		position: relative;
		width: 940px;
		margin: 0 auto;
	}
}
.sns {
	position: absolute;
	top: 15px;
	right: 15px;
	zoom: 1;
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	li {
		float: left;
		margin-left: 8px;
		a {
			span {
				font-size: 0;
			}
			&.facebook {
				display: block;
				background-image: url(/campaign/features/common/img/btn_facebook_o.png);
				background-repeat: no-repeat;
				background-position: 0 0;
				width: 54px;
				height: 28px;
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				outline: none;
				span {
					display: block;
					background-image: url(/campaign/features/common/img/btn_facebook.png);
					background-repeat: no-repeat;
					background-position: 0 0;
					width: 54px;
					height: 28px;
					overflow: hidden;
					text-indent: 100%;
					white-space: nowrap;
					outline: none;
				}
			}
			&.twitter {
				display: block;
				background-image: url(/campaign/features/common/img/btn_twitter_o.png);
				background-repeat: no-repeat;
				background-position: 0 0;
				width: 54px;
				height: 28px;
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				outline: none;
				span {
					display: block;
					background-image: url(/campaign/features/common/img/btn_twitter.png);
					background-repeat: no-repeat;
					background-position: 0 0;
					width: 54px;
					height: 28px;
					overflow: hidden;
					text-indent: 100%;
					white-space: nowrap;
					outline: none;
				}
			}
			&.line {
				display: block;
				background-image: url(/campaign/features/common/img/btn_line_o.png);
				background-repeat: no-repeat;
				background-position: 0 0;
				width: 54px;
				height: 28px;
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				outline: none;
				span {
					display: block;
					background-image: url(/campaign/features/common/img/btn_line.png);
					background-repeat: no-repeat;
					background-position: 0 0;
					width: 54px;
					height: 28px;
					overflow: hidden;
					text-indent: 100%;
					white-space: nowrap;
					outline: none;
				}
			}
			&:hover span {
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
				opacity: 0;
			}
		}
		&:first-child {
			margin-left: 0;
		}
	}
}
#content-header {
	background: #96242d url(/campaign/features/vol3_sendo/img/header_bg.png) 50% 0 no-repeat;
	.container {
		width: 980px;
		height: 300px;
		padding-top: 40px;
		overflow: visible;
	}
	.label {
		display: block;
		background-image: url(/campaign/features/vol3_sendo/img/header_label.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 360px;
		height: 41px;
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		outline: none;
	}
	h1 {
		display: block;
		background-image: url(/campaign/features/vol3_sendo/img/header_title.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 394px;
		height: 84px;
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		outline: none;
		margin: 10px 0 0 -9px;
	}
	.comment {
		display: block;
		background-image: url(/campaign/features/vol3_sendo/img/header_comment.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 587px;
		height: 81px;
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		outline: none;
		margin: 6px 0 0 -4px;
	}
	figure {
		position: absolute;
		top: 61px;
		right: 32px;
	}
}
#content-body {
	#sec1 {
		padding: 40px 0;
		.txt-block {
			float: left;
			width: 480px;
			h2 {
				display: block;
				background-image: url(/campaign/features/vol3_sendo/img/sec1_title.png);
				background-repeat: no-repeat;
				background-position: 0 0;
				width: 404px;
				height: 58px;
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				outline: none;
			}
			p {
				line-height: 1.8;
				margin-top: 25px;
				font-size: 1.4em;
			}
		}
		figure {
			float: right;
			width: 420px;
			margin-top: 38px;
		}
	}
	#sec2 {
		padding: 40px 0 35px;
		background-color: #96242d;
		color: $white;
		.txt-block {
			float: right;
			width: 600px;
			h2 {
				display: block;
				background-image: url(/campaign/features/vol3_sendo/img/sec2_title.png);
				background-repeat: no-repeat;
				background-position: 0 0;
				width: 422px;
				height: 59px;
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				outline: none;
			}
			p {
				line-height: 1.8;
				margin-top: 25px;
				font-size: 1.4em;
			}
		}
		figure {
			float: left;
			width: 280px;
			figcaption {
				display: block;
				margin-top: 5px;
				font-size: 1.2em;
				text-align: center;
			}
		}
	}
	#sec3 {
		padding: 33px 0 23px;
		.txt-block {
			float: left;
			width: 480px;
			padding-top: 4px;
			h2 {
				display: block;
				background-image: url(/campaign/features/vol3_sendo/img/sec3_title.png);
				background-repeat: no-repeat;
				background-position: 0 0;
				width: 374px;
				height: 24px;
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				outline: none;
			}
			p {
				line-height: 1.8;
				margin-top: 25px;
				font-size: 1.4em;
			}
		}
		figure {
			float: right;
			width: 431px;
			margin-right: 5px;
		}
	}
	#campaign {
		background: url(/campaign/features/vol3_sendo/img/campaign_bg.png) 0 0 repeat;
		.container {
			padding: 39px 0 50px;
			background: url(/campaign/features/vol3_sendo/img/campaign_main_img_bg.png) 50% 83px no-repeat;
		}
		h2 {
			display: block;
			background-image: url(/campaign/features/vol3_sendo/img/campaign_title.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 710px;
			height: 120px;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			outline: none;
			margin: 0 auto;
		}
		.term {
			display: block;
			background-image: url(/campaign/features/vol3_sendo/img/campaign_term.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 503px;
			height: 30px;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			outline: none;
			margin: 8px auto 0;
		}
		.campaign-main-img {
			margin-top: 37px;
			text-align: center;
			img {
				margin-left: 5px;
			}
		}
		.lead {
			line-height: 1.85;
			margin-top: 35px;
			font-size: 1.4em;
			text-align: center;
		}
		.campaign-scene {
			margin-top: 30px;
			h3 {
				display: block;
				background-image: url(/campaign/features/vol3_sendo/img/campaign_scene_txt.png);
				background-repeat: no-repeat;
				background-position: 0 0;
				width: 604px;
				height: 73px;
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				outline: none;
				margin: 0 auto;
			}
			.campaign-scene-img {
				margin-top: 28px;
				text-align: center;
			}
		}
		.campaign-btn a {
			margin: 30px auto 0;
			display: block;
			background-image: url(/campaign/features/vol3_sendo/img/campaign_btn.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 530px;
			height: 62px;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			outline: none;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: opacity .25s ease-in-out;
			&:hover {
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
				opacity: .85;
			}
		}
	}
	#products {
		padding-bottom: 35px;
		border-top: 5px solid #cb0600;
		h2 {
			display: block;
			background-image: url(/campaign/features/common/img/products_title.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 180px;
			height: 35px;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			outline: none;
			margin: 0 auto;
		}
		.name {
			display: block;
			background-image: url(/campaign/features/vol3_sendo/img/products_name.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 700px;
			height: 35px;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			outline: none;
			margin: 56px auto 0;
		}
		.txt1 {
			display: block;
			background-image: url(/campaign/features/vol3_sendo/img/products_txt.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 531px;
			height: 38px;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			outline: none;
			margin: 20px auto 0;
		}
		.item-wrap {
			overflow: hidden;
			*zoom: 1;
			width: 580px;
			margin: 40px auto 0;
			.item {
				width: 200px;
				figure {
					height: 230px;
					text-align: center;
				}
				h3 {
					margin-top: 25px;
					font-size: 1.6em;
					text-align: center;
				}
				p {
					line-height: 1.85;
					margin-top: 20px;
					font-size: 1.4em;
				}
			}
			.item1 {
				float: left;
			}
			.item2 {
				float: right;
			}
		}
		.btn-block {
			margin-top: 40px;
			line-height: 1;
			text-align: center;
			li {
				display: inline-block;
				margin: 0 16px;
				a {
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: opacity .25s ease-in-out 0s;
					&:hover {
						filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
						opacity: .75;
					}
				}
			}
			.btn1 a {
				display: block;
				background-image: url(/campaign/features/common/img/btn1.png);
				background-repeat: no-repeat;
				background-position: 0 0;
				width: 340px;
				height: 62px;
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				outline: none;
			}
			.btn2 a {
				display: block;
				background-image: url(/campaign/features/common/img/btn2.png);
				background-repeat: no-repeat;
				background-position: 0 0;
				width: 340px;
				height: 62px;
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				outline: none;
			}
		}
		.note-block {
			margin-top: 35px;
			color: #666;
			font-size: 1.2em;
		}
	}
}