extends ../../../_jade/template/osusume_temp
block project
	-var project = "osusume"
block vars
	-var title = "西友 – Old Spiceボディウォッシュが全品698円でオススメ！ | SEIYU"
	-var og_url = "http://www.seiyu.co.jp/campaign/features/vol1_oldspice/"
	-var og_description = "アメリカで大人気のメンズ用ボディケアブランド Old SpiceボディウォッシュをSEIYUのバイヤーがおすすめポイントとともにご紹介します。"
	-var description = "アメリカで大人気のメンズ用ボディケアブランド Old SpiceボディウォッシュをSEIYUのバイヤーがおすすめポイントとともにご紹介します。"
	-var keyword = "Old Spice,オールドスパイス,ボディウォッシュ,ボディソープ,メンズケア,ボディケア,デオドラント,ティンバー,シトロン,ディナリ,ホークリッジ,ベアグローブ,フレッシュコレクション,ワイルドコレクション,アメリカブランド,海外ブランド,インポート,輸入商品,SEIYUドットコム,通販,SEIYU,西友,LIVIN,リヴィン,SUNNY,サニー,Walmart,ウォルマート"
	-var dir_root = "../"
	-var current = ""
	-var sp = false
block osusume_content
	#contents(class="#{current}")
		header#content-header
			.container
				p.label SEIYUのオススメ商品発掘し隊！ Vol.1
				h1 Old Spice（オールドスパイス）ボディウォッシュがSEIYUなら全品各698円（税抜）でオススメ！
				p.comment バイヤー / 寺内 アメリカで大人気のボディケアブランド、「Old spice」をバイヤー・寺内がご紹介します。
				figure
					img(src='img/header_img.png', alt='', width='251', height='239')
				ul.sns
					li
						a.facebook(href='http://www.facebook.com/share.php?u=http://www.seiyu.co.jp/campaign/features/vol1_oldspice/', onclick="ga('send', 'event', 'Campaign', 'SNSbtnFb', 'vol1_oldspice');", target='_blank')
							span facebook
					li
						a.twitter(href='http://twitter.com/share?url=http://www.seiyu.co.jp/campaign/features/vol1_oldspice/&related=Seiyu_Japan&hashtags=OldSpice,SEIYU', onclick="ga('send', 'event', 'Campaign', 'SNSbtnTw', 'vol1_oldspice');", target='_blank')
							span twitter
		#content-body
			section#about
				.container
					.txt-block
						h2 Old Spiceって？
						p.shingo_m
							| Old Spice は、男性的な香りでアメリカで大人気のメンズボディケアブランドです。ベタつきや汗のにおいをさっぱり洗い流し、保湿効果もあります。SEIYUでは、2015年3月から取扱いを開始。フレッシュコレクション1アイテム、ワイルドコレクション2アイテムの計3アイテムに加え、2016年3月からは新たにフレッシュコレクション2アイテムが仲間入りしました！
							br
							| 					特徴的なCMも話題となったので、ご存知の方もいらっしゃるのではないでしょうか。
							br
							| 					香水やコロン類は基本的に苦手って方は是非お試しください！
						p.shingo_m.mt10
							a(href='http://oldspice.com/en', target='_blank') Old Spiceについて詳しくはこちら【Old Spice公式サイト（英語）】
					figure
						img(src='img/about_img.jpg', alt='', width='420', height='200')
			section#recommend
				.container
					.txt-block
						h2 バイヤーのおすすめポイント「いい香りでテンションがあがります！！」
						p.shingo_m
							| 海外の商品は匂いがキツイ！と思われがちですが、使用後はフンワリ軽く香水を付けたような仕上がりです。また、ボディタオルを使えば少量でもよく泡立ちます。コスパも良いので、日常使いにはかなり使いやすいアイテムです。Instagramなどでは、SEIYUで購入した写真をアップされている方も。みなさん好きな香りで楽しまれているようです♪
							br
							| 					実はこの商品、お店では人気のあまり売り切れになっていることもあるようです…！店舗で見つけたらすぐにゲットしたいですね！
					figure
						img(src='img/recommend_img.png', alt='SEIYU店舗に陳列されたOld Spice', width='200', height='200')
						figcaption.shingo_m SEIYU店舗に陳列されたOld Spice
			section#products
				.container
					h2 商品情報
					p.name オールドスパイス ボディウォッシュ 各¥698（税抜）
					.item-wrap.upper
						.item
							figure
								img(src='img/products_item1_img.jpg', alt='ティンバー', width='83', height='212')
							.item-detail
								p.category.flesh.shingo_m フレッシュコレクション
								h3.shingo_b
									| ティンバー
									i NEW
								p.lead.shingo_m
									| ティンバーミントの香り。
									br
									| 神秘的なティンバーミントの香りは
									br
									| あなたの体にパワーを呼び込みます。
						.item
							figure
								img(src='img/products_item2_img.jpg', alt='シトロン', width='83', height='211')
							.item-detail
								p.category.flesh.shingo_m フレッシュコレクション
								h3.shingo_b
									| シトロン
									i NEW
								p.lead.shingo_m
									| シトラス系の香り。
									br
									| 夏や汗のかくときに是非。
					.item-wrap.lower
						.item
							figure
								img(src='img/products_item3_img.jpg', alt='ディナリ', width='77', height='210')
							.item-detail
								p.category.flesh.shingo_m フレッシュコレクション
								h3.shingo_b ディナリ
								p.lead.shingo_m 雄大な山々をイメージしたフレッシュな香り。デナリ（先住民の名称）は北米最高峰のマッキンリー山の別名。
						.item
							figure
								img(src='img/products_item4_img.jpg', alt='ホークリッジ', width='80', height='215')
							.item-detail
								p.category.wild.shingo_m ワイルドコレクション
								h3.shingo_b ホークリッジ
								p.lead.shingo_m スパイシー＆エキゾチックな香りが、貴男を決断力のある男性に。
						.item
							figure
								img(src='img/products_item5_img.jpg', alt='ベアグローブ', width='80', height='213')
							.item-detail
								p.category.wild.shingo_m ワイルドコレクション
								h3.shingo_b ベアグローブ
								p.lead.shingo_m 森林にいるような清涼感ある爽やかな香りが、貴男を風格のある男性に。
					ul.btn-block
						li.btn1
							a(href='https://www.the-seiyu.com/front/app/catalog/list?searchCornerCode=E20647&aff_id=syotot0003', target='_blank') ネットで買う
						li.btn2
							a(href='/shoplist/473', target='_blank') お近くの取扱店舗を探す
					ul.note-block.shingo_m
						li ※このページに記載の内容は、2016年3月21日現在の情報です。
						li ※店舗により、お取扱いがない場合がございます。
