extends ../jade/recipe
block project
	-var project = "recipe"
block vars
	-var title = "西友 – アボカドとトマトのカレー レシピページ | SEIYU"
	-var current = "recipe"
	-var dir_root = "../"
	-var description = "豊かなスパイスが香り高いゴールデンカレーを使った本格カレーレシピをご紹介。野菜やシーフードをふんだんに使って、いつものカレーから夏にぴったりのカレーに大変身！"
	-var og_description = "豊かなスパイスが香り高いゴールデンカレーを使った本格カレーレシピをご紹介。野菜やシーフードをふんだんに使って、いつものカレーから夏にぴったりのカレーに大変身！"
	-var keyword = "カレー,curry,ゴールデンカレー,スープカレー,チーズカレー,バターチキンカレー,シーフードカレー,おうちカレー,お家カレー,レシピ,料理,エスビー食品,S&B,sb,SEIYU,西友,LIVIN,リヴィン,SUNNY,サニー,Walmart,ウォルマート"
	-var thisRecipe = "curry"
	-var sp = true
	-var recipenum = 5
block ga_click
	-var facebook = "ga('send', 'event', 'Campaign', 'SNSbtnFb', 'curryavocadotomato');"
	-var twitter = "ga('send', 'event', 'Campaign', 'SNSbtnTw', 'curryavocadotomato');"
	-var line = "ga('send', 'event', 'Campaign', 'SNSbtnLine', 'curryavocadotomato');"
	-var btn_prev = "ga('send', 'event', 'Campaign', 'backtoTop', 'curryavocadotomato');"
block recipecontent
	-var recipename = "アボカドとトマトのカレー"
	.recipe-area
		i.label カレー with アボカド　トマト
		h1
			span #{recipename}
		figure
			img(src='../img/recipe_'+'#{recipenum}'+'_img.jpg', alt='#{recipename}')
		.recipe-inner
			p.description.
				とろけたアボカドとトマトの酸味ですっきりまろやか。あっという間に出来上がるヘルシーカレーです。
			.info 調理時間･･･15分
			+recipeList(5,"材料（5人分）",5)
			.howto
				h2.shingo_m 作り方
				dl
					dt 1
					dd 玉ねぎは薄切りにし、アボカドは2cm角切り、トマトはざく切りにする。
				dl
					dt 2
					dd 鍋にサラダ油を熱し、玉ねぎを炒め、しんなりしたら水を加えて煮込む。
				dl
					dt 3
					dd いったん火を止め、ルウを割り入れてよく溶かし、再び弱火で2〜3分煮込む。
				dl
					dt 4
					dd アボカド、トマトを加えてさっと煮込んで完成。
	.btn-prev
		a(href='../', onclick="#{btn_prev};") トップに戻る