extends  ../../../_jade/template/bgm_temp
block project
	-var project = "bgm"
block vars
	-var title = "西友 － 店内BGM｜SEIYU"
	-var og_url = ""
	-var og_description = ""
	-var dir_root = ""
	-var current = ""
	-var sp = true
block bgmcontent
	+bgmlist("sp")