extends ../../../_jade/template/osusume_temp
block project
	-var project = "osusume"
block vars
	-var title = "西友 – 高品質でお手ごろ価格「チリワイン」の魅力に迫る｜SEIYU"
	-var og_url = "http://www.seiyu.co.jp/campaign/features/vol5_chilewine/"
	-var og_description = "ワイン通も大満足の品質。お手頃価格だから毎日でも飲める、話題のチリ産ワインをご紹介します。"
	-var og_image = "http://www.seiyu.co.jp/campaign/features/vol3_sendo/img/sns.jpg"
	-var description = "ワイン通も大満足の品質。お手頃価格だから毎日でも飲める、話題のチリ産ワインをご紹介します。"
	-var keyword = "ワイン,チリ産ワイン,ハウスワイン,タルカ,ナンカグア,ランカグア,ASDA,アズダ,アスダ,ワインメーカーズチョイス,WMC,チュカロ,カベルネ,メルロー,カベルネ・ソーヴィニヨン,シャルドネ,ソーヴィニヨン・ブラン,フルボトル,SEIYUドットコム,ネットショップ,通販,SEIYU,西友,LIVIN,リヴィン,SUNNY,サニー"
	-var dir_root = "../"
	-var current = ""
	-var sp = false
block osusume_content
	#contents(class="#{current}")
		header#content-header
			.container
				p.label SEIYUのオススメ商品発掘し隊！ Vol.5
				h1 ワイン通も大満足の品質！なのに毎日飲める手頃さが魅力の「チリワイン」
				p.comment バイヤー / 仲 高品質でお買い得！今、話題の「チリワイン」をバイヤー・仲がご紹介します。
				figure
					img(src='img/header_img.png', alt='', width='300', height='261')
				ul.sns
					li
						a.facebook(href='http://www.facebook.com/share.php?u=http://www.seiyu.co.jp/campaign/features/vol5_chilewine/', onclick="ga('send', 'event', 'Campaign', 'SNSbtnFb', 'vol5_chilewine');", target='_blank')
							span facebook
					li
						a.twitter(href='http://twitter.com/share?url=http://www.seiyu.co.jp/campaign/features/vol5_chilewine/&related=Seiyu_Japan&hashtags=%e3%83%81%e3%83%aa%e3%83%af%e3%82%a4%e3%83%b3%20%23SEIYU', onclick="ga('send', 'event', 'Campaign', 'SNSbtnTw', 'vol5_chilewine');", target='_blank')
							span twitter
		#content-body
			section#sec1
				.container
					.txt-block
						h2 世界が注目する上質でお買い得なチリワイン
						p.shingo_m
							| 今まで、ワインといえばフランス産というのが定説でしたが、最近チリ産のワインが増えているのに、お気づきでしょうか？
							br
							| チリワインは、クオリティが高く値段が手頃なことから、今、世界的に人気が高まっています。
						p.shingo_m そんなチリワインの中から、バイヤーが自信をもってオススメするのが「チュカロ」と「ワインメーカーズチョイス」の商品です！
					figure
						img(src='img/sec1_img.jpg', alt='', width='420', height='230')
			section#sec2
				.container
					.txt-block
						h2 和食にも合うワイン？！「チュカロ」の赤は肉じゃが、白は冷や奴に合わせて
						p.shingo_m
							| チリ・タルカ市は地中海性気候で寒暖差が20度以上あり、ぶどう栽培に適した土地です。その地に惚れ込んだフランスで修業した醸造家の手によって、丁寧に手摘みされた豊かな甘みのあるチリのブドウでつくる「チュカロ」はとても上質なワインです。
						p.shingo_m
							| 赤ワインのカベルネ・ソーヴィニヨンは、フルーティですが力強さも感じていただけます。肉や魚を使った洋食だけでなく、和食とも相性がいいので、肉じゃがなどと合わせるのも面白いですよ。
						p.shingo_m
							| 白ワインのシャルドネは、とても飲みやすくさっぱりとしてフルーティ。定番のカルパッチョや、ハーブや酸味が効いた料理はもちろん、ポン酢の冷しゃぶや冷や奴に合わせても美味しいんです♪
						p.shingo_m 「チュカロ」は、フルボトルで395円（税抜）。ハウスワインのような感覚で毎日気軽に飲むことができますよ！
					figure
						img(src='img/sec2_img.png', alt='バイヤーが直接足を運んで選んだ「チュカロ」のワイナリー', width='420', height='450')
						figcaption.shingo_m バイヤーが直接足を運んで選んだ「チュカロ」のワイナリー
			section#sec3
				.container
					.txt-block
						h2 週末やホームパーティなどちょっとプレミアムな食事にはワインメーカーズチョイス
						p.shingo_m
							| ワインメーカーズチョイスとは、ウォルマートグループの英国スーパーマーケット「ASDA（アズダ）」で人気のワインセレクションです。その中から私たちバイヤーが日本人の好みに合う品種を厳選し、直輸入で販売しています。日本国内ではSEIYU、LIVIN、サニーでしか手に入れることができません。
						p.shingo_m チリワインからのセレクションは、チリ中部に位置するナンカグアという地域のワイナリーのもの。
						p.shingo_m
							| カベルネ・ソーヴィニヨンは、ステーキなど肉料理に合う重みがあり、ワイン通の方でも十分満足していただける仕上がりになっています。
							br
							| シャルドネは、ほど良い酸味とフルーティさが特徴で、お刺身にもよく合います。
						p.shingo_m
							| こちらはフルボトルで580円（税抜）、更によりどり2本で1000円（税抜）で、コストパフォーマンスの良さにご満足いただけるかと思います。
							br
							| 週末などちょっと贅沢な気分になれる食中酒です♪
					figure
						img(src='img/sec3_img.jpg', alt='世界中から厳選したワインをお届けしています。', width='420', height='525')
						figcaption.shingo_m 世界中から厳選したワインをお届けしています。
			section#products
				.container
					h2 商品情報
					.products1
						h3 チュカロ
						.row
							.grid.grid1
								p.price 750ml 各¥395（税抜）
								.item-wrap
									.item.item1
										figure
											img(src='img/products1_item1_img.jpg', alt='カベルネ・ソーヴィニヨン', width='70', height='263')
										h4.shingo_b カベルネ・ソーヴィニヨン
										p.shingo_m ルビー色に輝き、プラムやブラックベリーの香りがします。果実味の中にも甘さのある飲みやすいワインです。
									.item.item2
										figure
											img(src='img/products1_item2_img.jpg', alt='シャルドネ', width='70', height='263')
										h4.shingo_b シャルドネ
										p.shingo_m 黄金色に輝き、アロマや南国果実の香りがします。まろやかで新鮮みがありバランスが良いワインです。
							.grid.grid2
								p.price 3000ml 各¥1,280（税抜）
								.item.item3
									figure
										img(src='img/products1_item3_img.jpg', alt='', width='288', height='295')
									p.shingo_m それぞれおトクな3Lパックもご用意しております。
						ul.btn-block
							li.btn2
								a(href='/shoplist/706', target='_blank') お近くの取扱店舗を探す
					.products2
						h3 ワインメーカーズチョイス
						p.price 750ml 1本 ¥580（税抜） よりどり2本¥1,000（税抜）
						.row
							.grid.grid1
								.item-wrap
									.item.item1
										figure
											img(src='img/products2_item1_img.jpg', alt='カベルネ・ソーヴィニヨン', width='72', height='255')
										h4.shingo_b カベルネ・ソーヴィニヨン
										p.shingo_m 数種類の果実を閉じ込めたような香りの引き立つ、豊潤な赤ワインです。
									.item.item2
										figure
											img(src='img/products2_item2_img.jpg', alt='メルロー', width='72', height='254')
										h4.shingo_b メルロー
										p.shingo_m 果実やベリーを思わせる香りをまとったふくよかな味わいの赤ワインです。ハンバーガーやパスタ料理などによく合います。
								ul.btn-block
									li.btn2
										a(href='/shoplist/707', target='_blank') お近くの取扱店舗を探す
							.grid.grid2
								.item-wrap
									.item.item3
										figure
											img(src='img/products2_item3_img.jpg', alt='シャルドネ', width='74', height='256')
										h4.shingo_b シャルドネ
										p.shingo_m トロピカルフルーツのようなフレッシュな香りの、果実味あふれる白ワインです。
									.item.item4
										figure
											img(src='img/products2_item4_img.jpg', alt='ソーヴィニヨン・ブラン', width='74', height='256')
										h4.shingo_b ソーヴィニヨン・ブラン
										p.shingo_m グレープフルーツやシトラスを思わせる力強い白ワインです。白身魚のバター焼きやサラダなどとよく合います。
								ul.btn-block
									li.btn2
										a(href='/shoplist/708', target='_blank') お近くの取扱店舗を探す
					p.catch SEIYUドットコムでは、世界中のおすすめワインを取り揃えております。
					ul.btn-block
						li.btn1-w
							a(href='http://www.the-seiyu.com/front/app/catalog/list?searchCornerCode=E20809', target='_blank', onclick="ga('send', 'event', 'Campaign', 'ExternalLink_theSeiyu', 'vol5_chilewine');") ネットで買う
					ul.note-block.shingo_m
						li ※このページに記載の情報は、2016年6月4日時点のものです。予告なく変更になる場合があります。
						li ※掲載の商品は、店舗によりお取扱いがない場合がございます。
						li ※ワインメーカーズチョイスのよりどり２本で1000円（税別）の販売は、SEIYU ドットコムでは実施しておりません。