extends ../../../_jade/template/osusume_temp
block project
	-var project = "osusume"
block vars
	-var title = "西友 - お中元に最適 こだわりの国産ハム『黒五けんこう豚』 | SEIYU"
	-var og_url = "http://www.seiyu.co.jp/campaign/features/summergift_ham/"
	-var og_description = "お中元シーズン真っ只中、SEIYUがこの夏のギフトにオススメするのは、国産『黒五けんこう豚』を使った定番・ハム。一貫した国内生産体制の下、こだわりの飼料で育てられた最高品質のハム―そのおいしさの秘訣とは? 期間限定のギフトクでさらにお得に!"
	-var og_image = "http://www.seiyu.co.jp/campaign/features/summergift_ham/img/sns.jpg"
	-var og_sitename = "西友 | SEIYU"
	-var description = "お中元シーズン真っ只中、SEIYUがこの夏のギフトにオススメするのは、国産『黒五けんこう豚』を使った定番・ハム。一貫した国内生産体制の下、こだわりの飼料で育てられた最高品質のハム―そのおいしさの秘訣とは? 期間限定のギフトクでさらにお得に!"
	-var keyword = "ギフト,夏ギフト,お中元,豚,黒五けんこう豚,黒五豚,ハム,ウインナー,ギフトク,ピーク割,自宅が得,ズバリ!この価格,ニコ得,食べ方,西友,SEIYU,リヴィン,LIVIN,サニー,SUNNY"
	-var dir_root = "../"
	-var current = ""
	-var sp = false
block osusume_content
	#contents(class="#{current}")
		header#content-header
			.container
				p.label SEIYUのオススメ商品発掘し隊！ 夏ギフト特別編
				h1.
					SEIYUだけで購入できる『黒五けんこう豚』をこの夏、贈ってみませんか。
				p.comment.
					お中元の贈り物にオススメの『黒五けんこう豚』をバイヤー・大西がご紹介します。
				figure
					img(src='img/header_img.png', alt='', width='358', height='300')
				ul.sns
					li
						a.facebook(href='http://www.facebook.com/share.php?u=http://www.seiyu.co.jp/campaign/features/summergift_ham/', onclick="ga('send', 'event', 'Campaign', 'SNSbtnFb', 'summergift_ham');", target='_blank')
							span facebook
					li
						a.twitter(href='http://twitter.com/share?url=http://www.seiyu.co.jp/campaign/features/summergift_ham/&related=Seiyu_Japan&hashtags=%23%E9%BB%92%E4%BA%94%E3%81%91%E3%82%93%E3%81%93%E3%81%86%E8%B1%9A%20%23%E3%83%8F%E3%83%A0%E3%82%AE%E3%83%95%E3%83%88%20%23SEIYU', onclick="ga('send', 'event', 'Campaign', 'SNSbtnTw', 'summergift_ham');", target='_blank')
							span twitter
		#content-body
			section#sec1
				.container.clearfix
					figure
						img(src='img/sec1_img.jpg', alt='', width='266', height='290')
					.txt-block
						h2 定番”ハム”に自身あり！
						p.shingo_m.
							お中元シーズン真っ只中ですね！<br>
							誰に何を贈ろうか？と考えている方も多いのではないでしょうか？<br>
							SEIYUでも多くのギフトを取り扱っていますが、中でもハムは定番として人気の高い商品です。<br>
							今回は、なんとSEIYU、LIVIN、サニーだけで限定販売している『黒五けんこう豚』をご紹介します。<br>

						p.shingo_m 『黒五けんこう豚』ハムギフトは、黒五といわれる黒豆・黒米・黒ごま・黒松の実・黒かりんの５種類の飼料を与えた特別な豚から作った、旨味が詰まった商品です。
			section#sec2
				.container.clearfix
					.txt-block
						h2 「人の健康にも良いもの」を食べた豚だから風味豊かで、肉質も最高級。
						p.shingo_m 『黒五けんこう豚』は、国産にこだわり、広大な自然環境のもと徹底した衛生管理と肉質管理で飼育し、加工・製造に至るまで一貫体制をととのえています。黒五を飼料にしたきっかけは、人の健康に良いものを豚に与えたら健康に育つだろう、良い肉質になるだろう、という考えから始めました。
						p.shingo_m.
							最高品質のハムを作りたいという思いから、加工期間も通常より長くし「熟成規格」を取得しました。<br>
							試食いただくと、「肉の味がしっかり感じられた」「旨味が強い」という感想をいただくことも多く、<br>
							ハムギフトは、『黒五けんこう豚』ギフトと決めているお客様も増えています。
					figure
						img(src='img/sec2_img.png', alt='黒五けんこう豚が育つ青森横浜農場', width='250', height='235')
						figcaption.shingo_m 黒五けんこう豚が育つ青森横浜農場
			section#sec3
				.container.clearfix
					figure
						img(src='img/sec3_img.jpg', alt='繊維を断ち切るようにスライスすると、やわらかな食感に。', width='420', height='317')
						figcaption.shingo_m 繊維を断ち切るようにスライスすると、やわらかな食感に。
					.txt-block
						h2 ロースは脂、ももは赤身の旨味
						p.shingo_m.
							ハムを贈るとき、部位をあまり気にしない方も多いかもしれませんが、脂の旨みを堪能するのであればロースハム、赤身部分の旨みを味わうのであれば、ももハムがオススメなんですよ。<br>
							食べ方としては、厚切りにしてステーキ風に焼くのが定番ですが、ずばりこちらは、そのままスライスして常温でお召し上がりいただくと素材の美味しさを楽しめます。豚肉の旨みが口の中に溶け込んできますよ。<br>
							スライスの仕方によって食感が変わってくるので左を参考にしてくださいね。
						p.shingo_m.
							ご自宅用に贈ることももちろんできますので、ギフトの時期だけのこの味を、ぜひ皆さんに味わっていただきたいです！
			section#products
				.container
					h2 商品情報
					.products1
						h3 <日本ハム>黒五けんこう豚ハムギフト
						.row
							.grid.grid1
								p.price ご自宅お届けでもっとおトク
								.item-wrap
									.item.item1
										figure
											img(src='img/products1_item1_img.jpg', alt='国産プレミアム黒五健康豚', width='328', height='249')
										img.value.mb10(src="img/products1_item1_price1.png",alt="熟成ロースハム 400g、焼豚（もも）215g 3500円（税抜）")
										img.value(src="img/products1_item1_price2.png",alt="ピーク割　ご贈答用なら15%OFF *1 2975円（税抜）")
										img.value(src="img/products1_item1_price3.png",alt="自宅が得　ご自宅用なら20%OFF *2 2800円（税抜）")
									ul.btn-block
										li.btn2
											a(href='https://gift.the-seiyu.com/item/12093043?aff_id=gfotot0003', target='_blank', onclick="ga('send', 'event', 'Campaign', 'ExternalLink_theSeiyu-12093043', 'summergift_ham');") この商品を買う
							.border
								.line

							.grid.grid2
								p.price よりどり２個の組み合わせでおトク
								.item-wrap
									.item.item2
										figure
											img(src='img/products1_item2_img.jpg', alt='', width='425', height='245')
										img.value.mb10(src="img/products1_item2_detail.png",alt="熟成ももハム310g、熟成ベーコン230g、熟成あらびきウインナー126g×2")
										img.value(src="img/products1_item2_price1.png",alt="ズバリ！この価格8/7(日)まで 3600円（税抜）")
										img.value(src="img/products1_item2_price2.png",alt="よりどり２個でニコ得 *3 600円おトク！ 6600円（税抜）")
									ul.btn-block
										li.btn2
											a(href='https://gift.the-seiyu.com/item/33093143?aff_id=gfotot0003', target='_blank', onclick="ga('send', 'event', 'Campaign', 'ExternalLink_theSeiyu-33093143', 'summergift_ham');") この商品を買う
				.others
					.inner.clearfix
						h3 『黒五けんこう豚』ギフトはこの他にも多数ラインナップしています。
						.net.box
							img(src='img/others_net_midashi.png',alt="並ばず買えて、カンタン注文！")
							.btn
								a(href="https://gift.the-seiyu.com/search/?q=%E3%81%91%E3%82%93%E3%81%93%E3%81%86%E8%B1%9A&aff_id=gfotot0003",target="_blank",onclick="ga('send', 'event', 'Campaign', 'ExternalLink_theSeiyu', 'summergift_ham');") ネットで商品一覧をみる
						.shop.box
							img(src='img/others_shop_midashi.png',alt="お店でご注文！")
							.btn
								a(href="/shoplist/752",target="_blank") お近くの取扱店舗を探す
				ul.note-block.shingo_m
					li.banner 夏はギフトク　承り期間 5/17(火)~8/7(日) 詳細はこちら
						a(href="/campaign/summergift/index.html" , target='_blank' , onclick="ga('send', 'event', 'Campaign', 'COJPLink_summergift', 'summergift_ham');")
					li.
						<span class="asterisk">＊1</span>「ピーク割」は、 SEIYU ドットコム ギフト館での承りの場合は全期間、店舗で承りの場合は、関東・東海・関西エリアでは 6/18 （土）〜 7/28 （木） 、北海道・東北・長野・九州エリアでは 6/28 （火）〜 8/7 （日）の期間限定で、掲載（黒字）価格より 15% OFF となります。
					li.
						<span class="asterisk">＊2</span>「自宅が得」は SEIYU ドットコム ギフト館での承りの場合は全期間、店舗で承りの場合は、関東・東海・関西エリアでは 6/18 （土）〜 7/28 （木） 、北海道・東北・長野・九州エリアでは 6/28 （火）〜 8/7 （日）の期間限定で、自宅お届けの承りで掲載（黒字）価格より 20% OFF となります。お申込者とご送付先のご住所が同一の場合に限ります。
					li.
						<span class="asterisk">＊3</span>「ニコ得」は、よりどり 2 個で 4,700 円（対象 9 品）、 6,600 円（対象 12 品）、 7,600 円（対象 9 品）があります。同じ商品同士でも違う商品同士でもお好みでお選びいただけます。
					li.
						<span class="asterisk">※</span>　&nbsp;このページに記載の情報は、 2016 年 6 月 24 日時点のものです。予告なく変更になる場合があります。
					li.
						<span class="asterisk">※</span>　&nbsp;掲載の商品は、店舗によりお取扱いがない場合がございます。
