/*============================
#contents
============================*/
div#contents {
  height: 1845px;

  /*============================
  #mv
  ============================*/
  div#mv {
      //background: linear-gradient(#bdd4ef, #e4f1fd);
      background-image: url("../images/SP_bg_1.jpg");
      height: 270px;
      .box{
          width: 300px;
          margin: 0 auto;
        div.title{
          img{
            position: relative;
            top: 20px;
          }
        }
        div.subhead {
          width: 121px;
          position: relative;
          margin-top: 30px;
          div.shingo_m {
            font-weight: 900 !important;
            font-size: 13px;
            p {
              margin: 0;
            }
          }
        }
        div.limitedOnair {
            width: 125px;
            margin-top: 5px;
            border: 1px solid #FFF;
            background-color: #FFF;
            border-radius: 5px;
            padding: 10px 5px;
            div.shingo_b,div.shingo_m{
              color: #1644ad;
              text-align: center;
            }
            div.shingo_b {
                font-size: 15px;
                font-weight: 900 !important;
                padding-bottom: 5px;
                &:after{
                    content: '';
                    border-top: 1px solid #ced6e7;
                    width: 110px;
                    height: 1px;
                    display: block;
                    position: relative;
                    top: 5px;
                    left: 7px;
                }
            }
            div.shingo_m {
                font-size: 8px;
                padding-top: 5px;
                color: #000;
            }
        }
        div.shunnosuke{
          width: 174px;
          height: 190px;
          position: relative;
          top: -175px;
          left: 135px;
          img{
          }
        }
      }
  }

  /*============================
  #download
  ============================*/
  div#download {
    //background: linear-gradient(#e4f1fd, #bdd4ef);
    background-image: url("../images/SP_bg_2.jpg");
    position: relative;
    height: 710px;
    div.subhead {
        position: relative;
        text-align: center;
        padding: 1px 0;
        background-color: #1644ad;
        font-size: 14px;
        color: #FFF;
        //top: -180px;
        .shingo_b{
            font-weight: 900 !important;
            p{

            }
        }
    }
    div.hint {
        text-align: center;
        position: relative;
        margin-top: 10px;
        //top: -170px;
        .shingo_m{
          p {
              font-size: 14px;
              font-weight: 900 !important;
              margin: 0;
              font.shingo_b {
                  color: #c00000;
                  font-weight: 900 !important;
              }
          }
        }
    }
    div.sukiyaki {
      background-image: url("../images/sukiyaki.png");
      background-size: 320px 303px;
      background-repeat: no-repeat;
      position: relative;
      width: 320px;
      margin: 0 auto;
      //top: -170px;
      //left: 5px;
      .qr{
          width: 99px;
          position: relative;
          left: 200px;
          top: 80px;
          img {
          }
      }
      div.shingo_m {
          width: 280px;
          margin: 0 auto;
          font-size: 13px;
          position: relative;
          top: 80px;
          left: 10px;
          top: 100px;
          font.textalignLeft{
              p {
                  text-align: left;
                  margin: 0;
                  font.smallFont{
                      font-size: 12px;
                      margin-top: 15px;
                      margin-left: 1em;
                      display: block;
                      position: relative;
                  }
              }
          }
      }
      .price{
          width: 103px;
          position: relative;
          left: 195px;
          top: 75px;
          img{

          }
      }
      .otherMark{
          width: 300px;
          margin: 0 auto;
          text-align: center;
          position: relative;
          top: 20px;
          div.shingo_m {
              p {
              }
              img {
              }
              div.baloon {
                  p {
                  }
              }
          }
      }
    }
  }

  /*============================
  #stamp
  ============================*/
  div#stamp {
      position: relative;
      width: 300px;
      height: 240px;
      margin: 0 auto;
      .shingo_m{

          .subhead{
              text-align: center;
              margin-top: 20px;
              margin-bottom: 10px;
              font-size: 13px;
              font-weight: 900 !important;
              color: #093288;
              font.shingo_b {
                  color: #c00000;
                  font-weight: 900 !important;
              }
              img {
              }
          }
      }
  }

  /*============================
  #attention
  ============================*/
  div#attention {
      //background: linear-gradient(#bdd4ef, #e4f1fd);
      background-image: url("../images/SP_bg_2.jpg");
      padding-bottom: 30px;
      div.subhead {
          text-align: center;
          font-size: 12px;
          padding: 1px 0;
          background-color: #1644ad;
          color: #fff;
          div.shingo_m {
              p {
              }
          }
      }
      div.text{
          width: 300px;
          margin: 0 auto;
          div.caution {
              position: relative;
              top: 10px;
              font-weight: 900;
              p {
              }
          }
          div.cautionList {
              font-size: 12px;
              border-top: 1px solid #829ab8;
              p {
                  margin: 3px 0;
                  text-indent: -1em;
                  margin-left: 1em;
                  a {
                  }
              }
          }
      }
  }
  div.sns {
      height: 75px;
      position: relative;
      width: 300px;
      margin: 0 auto;
      margin-top: 20px;
      .facebook{
          float: left;
          margin: 0 10px;
      }
      .twitter{
          float: left;
          margin-right: 10px;
      }
      .line{
        float: left;
      }
  }
}